* {
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
  color: white;
  font-weight: bold;
}

input {
  appearance: none;
}

.main-container {
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-template-areas:
    "a b b b"
    "a c c c"
    "a c c c"
    "a c c c";
  gap: 4px;
  height: 100vh;
}

.sidebar {
  grid-area: a;
  background: linear-gradient(teal,purple);
  grid-template-rows: repeat(3, 1fr);
}

.dashboard {
  font-size: 1.2rem;
  font-weight: bold;
  margin-top: 5%;
  margin-bottom: 10%;
  margin-left: 7.5%;
  color: white;
}


.top-links, .bottom-links {
  margin-bottom: 10%;
  margin-left: 10%;
}

.nav-icon {
  width: 9%;
}

.header {
  grid-area: b;
  display: grid;
  grid-template-areas: 
    "d e"
    "f f";
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  background-color: rgb(154, 255, 154);
}

.search-bar {
  background-color: white;
  grid-area: d;
  display: flex;
  justify-content: center;
}

.search-bar > input {
  height: 75%;
  width: 75%;
  align-self: center;
  font-size: 1.5rem;
}

.notify-avatar {
  background-color: tomato;
  grid-area: e;
  display: flex;
  /* justify-content: center; */
}

.notify-avatar > ul {
  display: flex;
  justify-content: center;
}

.profile-commands {
  grid-area: f;
  background-color: lightseagreen;
}

.content {
  background-color: orange;
  grid-area: c;
  display: grid;
  grid-template-rows: 1fr 3fr; 
  grid-template-columns: 2fr 1fr;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 8px;
  justify-items: center;
  align-items: center;
}

.card {
  height: 100px;
  width: 150px;
  background-color: white;
  text-align: center;
}




