* {
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

a {
  display: flex;
  text-decoration: none;
  color: white;
}

a:hover {
  color: orange;
}

a:visited {
  /* color: inherit; */
}

ul {
  list-style-type: none;
  color: black;
  font-weight: bold;
}

ul > li {
  display: flex;
}

input {
  appearance: none;
}

.main-container {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-areas:
    "a b b b"
    "a c c c"
    "a c c c"
    "a c c c";
  gap: 4px;
  height: 100vh;
}

.sidebar {
  grid-area: a;
  background: linear-gradient(teal, purple);
  min-width: 170px;
}

.dashboard {
  font-size: 1.2rem;
  font-weight: bold;
  margin-top: 5%;
  margin-bottom: 10%;
  margin-left: 7.5%;
  color: white;
}

.dashboard > span {
  display: flex;
}

.top-links,
.bottom-links {
  margin-bottom: 10%;
  margin-left: 10%;
}

.top-links > li {
  margin-bottom: 10px;
}

.bottom-links > li {
  margin-bottom: 10px;
}

.nav-icon {
  height: 24px;
  width: 24px;
  padding-right: 12px;
}

.header {
  grid-area: b;
  display: grid;
  grid-template-areas:
    "d e"
    "f g";
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  background-color: rgb(154, 255, 154);
}

.search-bar {
  background-color: white;
  color: black;
  grid-area: d;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-bar > input {
  height: 32px;
  width: 75%;
  align-self: center;
  font-size: 1rem;
  border-radius: 20px;
  border: 1px solid lightgray;
  padding: 2%;
}

.notify-avatar {
  background-color: white;
  grid-area: e;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bell {
  padding-right: 15px;
}

.notify-avatar > div:nth-child(2) {
  display: flex;
  align-items: center;
}

.avatar {
  height: 60px;
}

.greeting {
  display: flex;
  grid-area: f;
  justify-content: center;
}

.profile-commands {
  grid-area: g;
  background-color: lightseagreen;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cus-btn {
  background-color: lightcoral;
  color: white;
  height: 25px;
  width: 100px;
  border: none;
  border-radius: 25px;
}

.content {
  background-color: lightgrey;
  grid-area: c;
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.projects-title, .announcements-title  {
  margin-top: 20px;
  margin-bottom: 10px;
}

.projects-title {
  margin-left: 20px;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 8px;
  justify-items: center;
}

.card {
  height: auto;
  min-height: 200px;
  width: 300px;
  background-color: white;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.project-card {
  width: 365px;
}

.text-description > h4 {
  padding: 5% 5% 0 5%;
}

.text-description > p {
  padding-left: 5%;
  padding-right: 5%;
}

.card-commands {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding-right: 10px;
  padding-bottom: 10px;
}

.card-commands > a {
  color: black;
}

.trending > a {
  color: black
}

.announcements-container {

}

.announcements-card {
  padding: 3%;
}

.trending-title {
  margin-top: 10px;
  margin-bottom: 10px;
}